header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: var(--max);
	position: fixed;
	top: 0;
}

header img {
	max-height: var(--g2);
}

.landing,
.gallery,
.description {
	min-height: 80vh;
	margin: 0;
	position: sticky;
	top: 0;
	max-width: none;
}

.landing {
	z-index: 1;
	background: hsla(180, 99%, 52%, 0.102);
	max-height: 80vh;
	overflow: hidden;
}

.landingContent {
	z-index: 2;
	width: 100%;
	position: sticky;
	top: var(--g4);
	padding-left: var(--g2);
}

.landingContent h1 {
	max-width: none;
}

.gallery {
	z-index: 3;

	background: var(--background);

	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	height: fit-content;
	row-gap: var(--g1);
}

.gallery img {
	max-width: 30%;
	filter: sepia(30%) grayscale(50%);
	transition: all 0.3s;
}

.gallery img:hover {
	filter: none;
}

.linear {
	background: linear-gradient(
		0deg,
		var(--background) 0%,
		var(--background) 80%,
		transparent 100%
	) !important;
}

.description {
	z-index: 4;
	background: linear-gradient(
		0deg,
		var(--background) 0%,
		var(--background) 60%,
		transparent 100%
	);
}

/* ######################### */

.landing img {
	transform: rotate(90deg) translateY(-10vw);
	width: 100vw;
	z-index: -1;
}

#CTA {
	z-index: 10;
	position: fixed;
	bottom: var(--g2);
	max-width: none;
	font-size: var(--g1);
	border-bottom: var(--text) solid 3px;
	font-weight: bold;
}
